DATABASE_URL="postgresql://USER:PASSWORD@localhost:PORT/DB_NAME?schema=public"
INVITE_EMAIL="you@example.com"
BETTER_AUTH_URL="http://localhost:4000"
CLIENT_URL="http://localhost:3000"
GOOGLE_CLIENT_ID="your-google-client-id"
GOOGLE_CLIENT_SECRET="your-google-client-secret"
BETTER_AUTH_SECRET='YOUR_SECRET'
BETTER_AUTH_URL='YOUR_FRONTEND_URL'
